@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Pacifico&family=Whisper&display=swap");
:root {
  /*font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;*/
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #333;
  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* FONTS */

  --main-font: "Inter", sans-serif;
  --heading-font: "Pacifico", cursive;
  --signature-font: "Whisper", cursive;

  /* COLORS */

  --primary: #42b883; /*lime-green*/
  --accent: #ff6347; /*tomato-red*/
  --border-color: #eaecf1;
  --bright-red: #ff5555;
  --light-grey: #f6f6f6;
  --smoke-white: #f5f5f5;
  --dark-grey: #333333;
  --amber: #ffd54d;
  --pale-yellow: #ffecb3;
  --green-light: #42d392;
  --green-lighter: #35eb9a;
  --green-lightest: #35eb9a3b;
}

body {
  font-family: var(--main-font);
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  overflow-y: scroll;
}

/* Optional: Customize scrollbar appearance */
::-webkit-scrollbar {
  width: 12px; /* Adjust the width as needed */
}

::-webkit-scrollbar-thumb {
  background-color: var(--green-light); /* Color of the scrollbar thumb */
}

::-webkit-scrollbar-track {
  background-color: var(--green-lightest); /* Color of the scrollbar track */
}

a {
  text-underline-offset: 25%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

.row-flex {
  display: flex;
  justify-content: space-between;
}

.row-flex a {
  color: var(--smoke-white);
}
.row-flex a:hover {
  color: var(--accent);
}

section h1,
.title {
  font-size: 2.125rem;
  color: var(--primary);
}

section.subhero {
  padding: 0.5rem;
  background: var(--light-grey);
  text-align: center;
  margin-bottom: 1rem;
}

section.subhero h4 {
  color: #666;
  text-transform: uppercase;
  margin-top: -0.25rem;
  font-size: 0.85rem;
  letter-spacing: 0.1ch;
}

.intro {
  padding: 1rem 1.75rem;
  background: var(--light-grey);
  border-radius: 5px;
  margin-block: 1.85rem;
  font-size: 1.125rem;
  max-width: calc(1200px - 2.75rem);
}

.brand {
  color: var(--primary);
  font-weight: bold;
}

.sub-heading {
  position: relative;
  /* padding-left: 0.85rem; */
  color: var(--primary);
}

/* .sub-heading::before {
  content: "";
  background: var(--green-light);
  width: 5px;
  height: 30px;
  position: absolute;
  bottom: 50%;
  left: -0.25rem;
  transform: translate(50%, 50%);
  border-radius: 5px;
} */

.search-input {
  padding: 0.25rem 0.5rem;
  border: 1px solid var(--primary);
  height: 2.5rem;
  margin-bottom: 1.5rem;
  width: 370px;
  max-width: calc(100% - 16px);
  font-family: var(--main-font);
  font-size: 0.95rem;
}
.search-input:focus {
  border: 1px solid var(--primary);
}

.search-input:focus-visible {
  outline: var(--primary) auto 2px;
}

footer {
  background-color: var(--dark-grey);
  color: var(--smoke-white);
  flex-shrink: 0;
  margin-top: auto;
}

/* Helper Classes */
.text-center {
  text-align: center;
}

/* Button */
button {
  cursor: pointer;
  padding: 15px 30px;
  background-color: var(--primary);
  color: var(--smoke-white);
  border: 1px solid var(--light-grey);
  width: fit-content;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 5px;
}

button:hover {
  background-color: var(--green-light);
}

button.submit-btn {
  margin-block: 1.5rem;
}

/* Special Button */
.add-button {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.add-button .svg-inline--fa {
  color: var(--dark-grey);
  background-color: var(--smoke-white);
  padding: 0.15rem;
  border-radius: 50%;
  width: 0.65rem;
  height: 0.65rem;
}

/* Form */
.render-form {
  display: grid;
  grid-template-columns: 275px auto;
}
.profile h2 {
  font-size: 1rem;
}

.profile .username {
  text-transform: capitalize;
  color: var(--primary);
  font-size: 1.5rem;
}

/* Font Awesome */
.svg-inline--fa {
  color: var(--primary);
  width: 1rem;
}

.svg-inline--fa.fav-btn {
  color: var(--accent);
  width: 1.25rem;
  height: 1.25rem;
  cursor: pointer;
}

.svg-inline--fa.low {
  color: var(--primary);
}
.svg-inline--fa.medium {
  color: var(--amber);
}
.svg-inline--fa.high {
  color: var(--accent);
}
.svg-inline--fa.extreme {
  color: red;
}
.Vue-Toastification__toast .svg-inline--fa {
  color: white;
}
.svg-inline--fa.fa-circle-user {
  color: var(--primary);
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.svg-inline--fa.fa-circle-user:hover {
  color: var(--accent);
}

/* MEDIA QUERY */
@media (max-width: 921px) {
  .render-form {
    display: block;
  }
  .d-none-mobile {
    display: none;
  }
  form {
    margin: auto;
  }
}

@media (max-width: 750px) {
  .row-flex {
    flex-direction: column;
  }
  .row-flex p {
    margin-block: 0.5rem;
  }
}
